# Ignore node_modules
/node_modules/

# Ignore cache directory
/.cache/

# Ignore elpa directory
/elpa/

# Ignore server directory
/Server/

# Ignore flycheck init
flycheck_init.el

# Ignore byte compiled files
*.elc
